.left-line::before {
  content: '';
  display: block;
  height: 18px;
  width: 1px;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 7px;
}

.bg-color-1 {
  background: $fb-profile-main;
}

.green-dot {
  width: 6px;
  height: 6px;
  background: $dot-color;
  border-radius: 3px;
}

.fb-contact::-webkit-scrollbar {
  width: 7px;
}

.fb-contact::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
.fb-contact::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.fb-contact::-webkit-scrollbar-thumb:hover {
  background: #555;  
}