.fb-chat {
    width: 285px;
    height: 350px;
    position: fixed;
    bottom: -5px;
    right: 250px;
    background: $color-white;
    border-radius: 8px;
    margin-left: 30px;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #E5E5E5;
        border-radius: 8px 8px 0 0;
        padding: 0.6em;

        &__user {
            display: flex;
            align-items: center;

            &__image {
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }

            &__details {
                padding-left: 0.5em;
                &__link {
                    color: $color-black;
                    font-size: $size-14;
                    display: block;
                }

                &__active {
                    line-height: 1.5;
                }
            }
        }

        &__options {
            display: flex;

            i {
                font-size: $size-14;
                margin-left: 0.71em;
                padding: 0.142em;
                color: $fb-chat-icon-color;
            }                         
        }
        
    }

    &__header:hover{
        background: #E5E5E5;
    }

    &__content {
        height: 245px;
        border-bottom: 1px solid #E5E5E5;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;

        &__message {
            font-size: $size-13;
            background: $fb-chat-icon-color;
            color: $color-white;
            margin: 0 0.76em 0.61em 2em;
            padding: 0.53em; 
            border-radius: 12px;
            line-height: 1.2;
        }
    }

    &__bottom {

        &__input {
            margin-bottom: 0.2em;

            &__field{
                width: 100%;
                padding: 0.83em;
                color: $color-black;
                font-weight: 500;
            }
        }

        &__options {
            display: flex;
            justify-content: space-between;
            padding: 0 1em;

            &__left {
                display: flex;
            }

            i{
                display: block;
                font-size: $size-16;
                padding: 0px 0.625em 0 0;
                color: #8D949E; 
                cursor: pointer;
            }

            i:hover {
                color: lightgray;
            }

            &__right {
                i{
                    color:$fb-chat-icon-color;
                    padding-right: 0;
                }
            }
        }
    }
}