.fb-options {
  background: $color-white;
  position: absolute;
  width: 230px;
  right: 17px;
  top: 37px;
  border: 1px solid #B4B4B4;
  border-radius: 5px;
  display: none;

  &__underline {
    border-bottom: 1px solid #E9EBEE;
  }

  &--show {
    display: block;
  }

  a {
    font-size: 11px;
    color: $color-black;
    font-weight: normal;
    display: block;
    padding: 10px 30px;
    margin: 5px 0;
  }

  a:hover {
    background: $login-btn-bg;
    color: $color-white;
  }
}

.fb-options::before {
  content: " ";
  position: absolute;
  top: -12px;
  right: 3px;
  margin-left: -5px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent $color-white transparent;
}