.fb-pg-main {
  // background: green;

  &__cover {
    margin-bottom: 1em;
  }

  &__content {
    // background: green;
    display: flex;

    &__first-col {
      // background: blue;
      margin-right: 1em;
    }

    &__second-col {
      // background: lightblue;
    }
  }
}