.fb-pg-bar {
  box-shadow: 1px 1px 5px rgba($color: $color-black, $alpha: 0.3);
  // margin-bottom: 1em;

  &__content {
    display: flex;
    justify-content: space-between;
    

    li {
      margin-right: 1.75em;
      height: 48px;
    }

    a {
      font-size: $size-14;
      display: block;
      color: black;
      padding: 1.14em 0.42em 1.14em 0.42em;
    }

    a:hover {
      border-bottom: 3px solid $link-color;
    }
  }
}