.fb-registration {
  // background: lightblue;
  width: 400px;

  &__title {
    font-size: $size-36;
    font-weight: bold;
    color: $fb-welcome-title;
    margin-bottom: 0.138em;
  }

  &__subtitle {
    color: $fb-welcome-title;
    font-size: $size-19;
    margin-bottom: 0.95em;
  }
}