.fb-search {
  
  
  &__find {
    font-size: $size-14;
    padding: 0.35em;
    width: 400px;
    border-radius: 5px;
  }

  &__submit {
    padding: 0.5em 1.5em;
    margin-left: -0.41em;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: $search-submit-bg;
    color: $search-submit-color;
  }
}