.fb-welcome {
  width: 565px;
  margin-right: 1.6em;

  &__title {
    font-size: $size-28;
    width: 16.07em;
    padding: 1.75em 0 1em;
    font-weight: bold;
    color: $fb-welcome-title;
    line-height: 1.28em;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 2em;

    img {
      width: 56px;
      height: 56px;
      margin-right: 1.6em;
    }

    strong {
      color: $fb-welcome-title;
      font-size: $size-17;
    }

    span {
      font-size: $size-15;
      color: $fb-welcome-desc;
    }
  }
}