// Flex Utilities
.flex-row {
  display: flex;
}

.align-items-center {
  align-items: center;
}

// Margin Utilities
.mr-10 {
  margin-right: 10px;
}

.pr-10 {
  padding-right: 10px;
}

// Width Utilities
.full-width {
  width: 100%;
}

.half-width {
  width: 49%;
}