@font-face {
  font-family: SFUIText-Regular;
  src: url(../font/SFUIText-Regular.ttf);
}

html {
  font-size: $html-font-size;
}

body {
  font-family: SFUIText-Regular;
  background: $fb-profile-main;
}

.container, .container-fluid {
  margin: 0 auto;
}

.container {
  max-width: $container-size;
}

.container-fluid {
  max-width: $container-fluid-size;
  margin-left: 7em;
}