// General Colors
$color-white: #fff;
$color-black: #000;

$fb-header-bg: #3f5d9a;
$login-btn-bg: #29487d;
$fb-main-bg: #edf0f5;
$fb-welcome-title: #333;
$fb-welcome-desc: #666;
$fb-profile-main: #e9ebee;

$search-submit-bg: #f5f6f7;
$search-submit-color: #4e5665;
$link-color: #83b4d8;
$username-color: #90949c;

$post-border-color: #dddfe2;

$blocks-bg: #273e6a;