// Font Sizes
$html-font-size: 10px;

// General Sizes
// $size-34: 3.4rem;
$size-32: 3.2rem;
$size-24: 2.4rem;
$size-1872: 1.872rem;
$size-16: 1.6rem;
$size-1328: 1.328rem;
$size-12: 1.2rem;
$size-10: 1rem;

// Containers Sizes
$container-size: 980px;
$container-fluid-size: 1200px; // შევცვლი ამას მერე